[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pypdf2 = "*"
docx2txt = "*"
requests = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
